@import url('reset.css');

           
html {
    font-size: 62.5%;
}
            .content {
               background-color: #DBC5C8;
               width: 480px;
               margin: 25px auto;
               border: 0px solid rgb(120, 116, 120);
               padding: 30px;
               text-align: center;
               font: 1.6rem/1.5 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
               color: white;
                
            } 
            h1, h2 {
                font-size: 4rem;
                line-height: 3;
                font-variant: small-caps;
                text-align: center;
                letter-spacing: 5px;
                color: white;
                
            }
            button {
                width: 40%;
                background-color: #94859C;
                border: none;
                color: white;
                padding: 10px 10px;
                margin: 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font: 1.4rem 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

            }
            button:hover {
                background-color: #FFFFFF;
                color: #94859C;
                cursor:pointer;
            }
            .date {
                font-weight: bold;
                font-size: 1.6rem;
                letter-spacing: 3px;
                line-height: 3;
                color: #A1747F;
            }
            .key_word {
                font-weight: bold;
                color: #94859C;
            }
            .rsvp {
                margin-bottom: 0px;
            }
            .rsvppar {
                line-height: 3;
            }

@media screen and (max-width: 360px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }
    .button {
        width: 45%;
    }
}
